<%= render 'layouts/navbar' %>

<div id="deletion-field">remove keyword</div>

<div class='synth'>
  <div id="up-button" class="directional-button"></div>
  <div id="down-button" class="directional-button"></div>
  <%= render 'layouts/topics', :topics => @topics %>
  <%= render 'layouts/synth', :bindings_and_names => @bindings_and_names %>
  <div id='about_section'><p>Tweetbeat</p></div>
</div>

