=margin-reset
  margin: 0px
  padding: 0px

body
  +margin-reset
  background-color: #222

a
  color: #ddd
  text-decoration: none

a:hover
  text-decoration: underline

nav
  background-color: #111

  ul
    +margin-reset

    li
      display: inline-block
      list-style: none

    #nav_title
      font-size: 25px
      margin: 10px 0px 5px 10px


    #toggle_bar
      float: right
      margin: 10px

      #view_toggle

        label
          width: 100px
          background-color: #fff
