<div id='fullnav'>

  <nav>
    <ul>
      <li id='nav_title'><%= link_to 'TweetBeat', :root %></li>
      <li><%= link_to 'Start Stream', '#', id: 'start-stream' %></li>
    </ul>
  </nav>

  <div id="view_toggle">
    <label id="synth"><input type="radio" id='toggle_synth' name="toggle"><span>Synth</span></label>
    <label id="visual"><input type="radio" id='toggle_visual' name="toggle"><span>Visual</span></label>
  </div>

</div>