<div id='synth_container'>
  <div id='synth_pads'>
  <ul>
    <li id="0">Zero</li>
    <li id="1">One</li>
    <li id="2">Two</li>
    <li id="3">Three</li>
    <li id="4">Four</li>
    <li id="5">Five</li>
    <li id="6">Six</li>
    <li id="7">Seven</li>
    <li id="8">Eight</li>
  </ul>
</div>

  <div id='synth_controls'>
    <ul>
      <li>1</li>
      <li>1</li>
      <li>1</li>
    </ul>
  </div>

</div>