<div id='synth_container'>
  <p id='moltar'>Moltar</p>
  <hr id="top-line"/>
  <div id='synth_pads'>
    <ul id='all_pads'>
      <ul id='all_pads'>
        <% 9.times do |i| %>
          <li id="<%= i %>"><div class="ctrl_bound letter_display hidden"><%= bindings_and_names[i][0] %></div><div id="synthname"><%= bindings_and_names[i][1] %></div><div class='drop_area'></div></li>
        <% end %>
      </ul>
    </ul>
  </div>

  <div id='synth_controls'>
    <div id="library-container">  
      <div id="library">
        <ul id="lib-list">
          <li class="current-lib" lib-id="0">NATURAL</li>
          <li lib-id="1">SPACE</li>
          <li lib-id="2">HIPHOP</li>
          <li lib-id="3">MARIO</li>
        </ul>
      </div>
      <div id="prev"><img class="prev-button" src="/assets/prev.png"></div>
      <div id="next"><img class="next-button" src="/assets/next.png"></div>
    </div>

    <div id="slider-vertical" style="height:150px;"></div>
    <canvas id="xy"></canvas>
    <button class="filter-toggle">On | Off</button>
  </div>
</div>



