<div id='synth_container'>
  <div id='synth_pads'>
  <ul id='all_pads'>
    <li class='single_pad' id="0">
      <ul id='empty_synth_list' class='connected'><li style='opacity: 0'></li></ul>
    </li>
    <li id="1"></li>
    <li id="2"></li>
    <li id="3"></li>
    <li id="4"></li>
    <li id="5"></li>
    <li id="6"></li>
    <li id="7"></li>
    <li id="8"></li>
  </ul>
</div>

  <div id='synth_controls'>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</div>