<div id='topics_container'>
  <ul id='topics_list' class='connected'>
    <% topics.each_with_index do |topic, index| %>
      <% if index < 15 %>
        <div class='deletable'><li class='topic' id="<%= index %>"><%= topic %></li></div>
      <% end %>
    <% end %>
  </ul>
</div>


