<div id='topics_container'>
  <ul id='topics_list' class='connected'>
    <% topics.each_with_index do |topic, index| %>
    <li class='topic' id="<%= index %>"><%= topic %></li>
    <% end %>
  </ul>
</div>

