<!DOCTYPE html>
<html>
<head>
  <title>TweetBeat</title>
  <link href='http://fonts.googleapis.com/css?family=Rochester' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
